<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /it-management/

    # Allow root folder to load index.php
    RewriteCond %{REQUEST_URI} !^/$

    # Block direct access to any other folder
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [F]
</IfModule>

# Disable directory listing
Options -Indexes

# Prioritize PHP
DirectoryIndex index.php index.html
